<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css"/>
  <title>资料下载</title>
	<body style="background: #eee;">
		<div class="header">
				<span>资料下载</span>
				<a href="index.html" class="back"><i class="iconfont icon-left"></i></a>
			</div>
		<div class="banner">
			<img src="img/self-report.png">
		</div>
			<ul class="data-content" id="data">
				<!--<a href="uploaDate.html">
				<li class="notice-list">
					<h3 class="list-tit">2016-08-01</h3>
				    <p class="list-txt">
                                           2016年大学生贫困助学金申请表2016年大学生贫困助学金申请表
				    </p>
				</li>
				<span class="goin"><i class="iconfont icon-right"></i></span>
				</a>
				<a href="uploaDate.html">
				<li class="notice-list">
					<h3 class="list-tit">2016-08-02</h3>
				    <p class="list-txt">
                                             2016年大学生贫困助学金申请表2016年大学生贫困助学金申请表
				    </p>
				</li>
				<span class="goin"><i class="iconfont icon-right"></i></span>
				</a>
				<a href="uploaDate.html">
				<li class="notice-list">
					<h3 class="list-tit">2016-08-03</h3>
				    <p class="list-txt">
                                              2016年大学生贫困助学金申请表2016年大学生贫困助学金申请表
				    </p>
				</li>
				<span class="goin"><i class="iconfont icon-right"></i></span>
				</a>
				<a href="uploaDate.html">
				<li class="notice-list">
					<h3 class="list-tit">2016-08-04</h3>
				    <p class="list-txt">
                                             2016年大学生贫困助学金申请表2016年大学生贫困助学金申请表
				    </p>
				</li>
				<span class="goin"><i class="iconfont icon-right"></i></span>
				</a>
				<a href="uploaDate.html">
				<li class="notice-list">
					<h3 class="list-tit">2016-08-05</h3>
				    <p class="list-txt">
                                              2016年大学生贫困助学金申请表2016年大学生贫困助学金申请表
				    </p>
				</li>
				<span class="goin"><i class="iconfont icon-right"></i></span>
				</a>-->
			</ul>
	  <script src="js/jquery-1.10.2.min.js"></script>
	  <script type="text/javascript" src="js/basic.js"></script>	
      <script type="text/javascript" src="js/rem.js"></script>	
	</body>
</html>

<script>
    $(function(){
        $.getJSON('http://www.hefei.com/public/youdata?callback=?',
                function (e) {
                    if(e.code==200){
                        var url="?r=yindex/uploadata&data_id="
                        str=''
                        for(var i=0;i< e.data.length;i++){

                            str=str+'<a href='+url+e.data[i].data_id+'><li class="notice-list"><h3 class="list-tit">'+e.data[i].time+'</h3>'+
                            '<p class="list-txt">'+e.data[i].title+'</p></li><span class="goin"><i class="iconfont icon-right"></i></span></a>'

                        }

                        $('#data').append(str)
                    }


                });
    })
</script>
