<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/slick.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<title>自助入学</title>
		<body class="bge">
			<div class="banner">
				<img src="img/self-report.png">
			</div>
			<div class="contain">
				<ul class="ask-box">
					<li class="ask-item">
                        <a href="?r=yindex/selfreport">
							<i class="iconfont icon-bus"></i>
							<span class="ask-word">自助报到</span>
						</a>
					</li>
				</ul>
				<ul class="ask-box">
					<li class="ask-item">
                        <a href="?r=yindex/green">
							<i class="iconfont icon-green"></i>
							<span class="ask-word">绿色通道</span>
							<span class="goin"><i class="iconfont icon-right"></i></span>
						</a>
					</li>
					<li class="ask-item nobor">
                        <a href="?r=yindex/delay">
							<i class="iconfont icon-delay"></i>
							<span class="ask-word">推迟报到</span>
							<span class="goin"><i class="iconfont icon-right"></i></span>
						</a>
					</li>
				</ul>
				<ul class="ask-box">
					<li class="ask-item">
                        <a href="?r=yindex/route">
							<i class="iconfont icon-route"></i>
							<span class="ask-word">到校路线</span>
							<span class="goin"><i class="iconfont icon-right"></i></span>
						</a>
					</li>
					<li class="ask-item nobor">
                        <a href="?r=yindex/arrive">
							<i class="iconfont icon-login"></i>
							<span class="ask-word">抵校登记</span>
							<span class="goin"><i class="iconfont icon-right"></i></span>
						</a>
					</li>
				</ul>
			</div>
            <?php include('foot.html') ?>
			<!--<div class="footer">
				<ul class="footer-page clearfix">
					<li class="page-item">
						<a href="index.html" class="active">
							<i class="iconfont icon-index"></i>
							<p>首页</p>
						</a>
					</li>
					<li class="page-item active">
						<a href="entrance.html">
							<i class="iconfont icon-computer"></i>
							<p>自助入学</p>
						</a>
					</li>
					<li class="page-item">
						<a href="ask.html">
							<i class="iconfont icon-ask"></i>
							<p>咨询帮助</p>
						</a>
					</li>
					<li class="page-item">
						<a href="user-center.html">
							<i class="iconfont icon-person1"></i>
							<p>个人中心</p>
						</a>
					</li>
				</ul>
			</div>-->
		<script src="js/jquery.min.js"></script>
		<script src="js/slick.min.js"></script>
		
		<script src="js/rem.js"></script>
		<script src="js/basic.js"></script>
		</body>

</html>