<div class="footer">
    <ul class="footer-page clearfix">
        <li class="page-item active">
            <a href="?r=yindex/index">
                <i class="iconfont icon-index"></i>
                <p>首页</p>
            </a>
        </li>
        <li class="page-item">
            <a href="?r=yindex/entrance">
                <i class="iconfont icon-computer"></i>
                <p>自助入学</p>
            </a>
        </li>
        <li class="page-item">
            <a href="?r=yindex/ask">
                <i class="iconfont icon-ask"></i>
                <p>咨询帮助</p>
            </a>
        </li>
        <li class="page-item">
            <a href="?r=yindex/usercenter">
                <i class="iconfont icon-person1"></i>
                <p>个人中心</p>
            </a>
        </li>
    </ul>
</div>