<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css"/>
  <title>用户登录</title>
	</head>
	<body>
		<div class="header">
			<span>用户登录</span>
			<!--<a href="#" class="back"><i class="iconfont icon-left"></i></a>-->
		</div>
		<ul class="login-box">
			<li>
				    <span class="login-name"><i class="iconfont icon-user"></i></span>
		        <input type="text" name="name" placeholder="请输入用户名" id="name"/>
			</li>
			<li>
				<span class="login-psw"><i class="iconfont icon-psw"></i></span>
		        <input type="text" name="name" placeholder="请输入身份证号码后六位" id="pwd"/>
			</li>
		</ul>
		</div>
		<div class="confirm">
			<a href="javascript:void(0)" id="login">登录</a>
			<p class="foget-psw"><a href="#">忘记密码</a></p>
		</div>
	</body>
	<script src="js/jquery-1.10.2.min.js"></script>
     <script type="text/javascript" src="js/rem.js"></script>	
</html>

<script>
    $(function(){
        $('#login').click(function(){

            var name=$('#name').val()
            var pwd=$('#pwd').val()
            var t=new Date().getTime()
            var data={name:name,pwd:pwd}


            var url="http://www.hefei.com/public/youlogin?callback=?";

            $.getJSON(url,{name:name,pwd:pwd},
                    function (e) {
                        if (e.code == 200) {

                            location.href="http://www.you.com/web/index.php?r=yindex/index"
                        }else{
                            alert('用户名或密码错误')
                        }
                    })


        })

    })
</script>