<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css"/>
  <title>入学须知</title>
	<body style="background: #eee;">
		<div class="header">
				<span>入学须知</span>
				<a href="index.html" class="back"><i class="iconfont icon-left"></i></a>
			</div>
		<div class="banner">
			<img src="img/self-report.png">
		</div>
		<div class="konw-box">
			<div class="know-content" id="mustknow">
				<!--<div class="know-list">
					<p class="know-tit">2、报到路线</p>
				    <p class="know-txt">
                                               根据录取通知书附带的新生入学交通指引到学校报到。
				    </p>
				</div>
				<div class="know-list">
					<p class="know-tit">1、报到时间</p>
				    <p class="know-txt">届时请持大学录取通知书且按照录取通知书报到时间到校报到，为保证报到工作顺利进行，
				    	请勿提前或者延期报到，逾期一周不报到者，取消入学资格。持录取通知书可购买半价火车票。来校期间费用自理。
				    </p>
				</div>
				<div class="know-list">
					<p class="know-tit">1、报到时间</p>
				    <p class="know-txt">届时请持大学录取通知书且按照录取通知书报到时间到校报到，为保证报到工作顺利进行，
				    	请勿提前或者延期报到，逾期一周不报到者，取消入学资格。持录取通知书可购买半价火车票。来校期间费用自理。
				    </p>
				</div>
				<div class="know-list">
					<p class="know-tit">3、档案材料</p>
				    <p class="know-txt">
                                               按当地省市招生办公室的规定办理，如果由个人携带档案，入学后必须将档案交到各系，由各系统一上交到学生处。
				    </p>
				</div>
				<div class="know-list">
					<p class="know-tit">4、党团组织关系</p>
				    <p class="know-txt">
                                                  党员自带组织关系转移介绍信，报到后自行交给所在系的辅导员;团员须将团员档案自带到学校，报到后自行交给所在系的辅导员，由各系辅导员汇总后放入学生档案袋。
				    </p>
				</div>-->
			</div>
		</div>
	  <script src="js/jquery-1.10.2.min.js"></script>
	  <script type="text/javascript" src="js/basic.js"></script>	
      <script type="text/javascript" src="js/rem.js"></script>	
	</body>
</html>

<script>
    $(function(){
        $.getJSON('http://www.hefei.com/public/youmustknow?callback=?',
                function (e) {
                    if(e.code==200){
                        str=''
                        for(var i=0;i< e[0].length;i++){

                            str=str+'<div class="know-list"><p class="know-tit">'+e[0][i].mustknow_id+'、'+e[0][i].title+
                            '</p><p class="know-txt">'+e[0][i].content+'</p></div>'

                        }

                        $('#mustknow').append(str)
                    }

                });
    })
</script>
