<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="css/slick.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css" />
		<title>公告详情</title>
		<body>
    <input type="hidden" value="<?php echo $notice_id ?>" id="notice_id"/>
			<div class="header">
				<span>公告详情</span>
				<a href="notice.html" class="back"><i class="iconfont icon-left"></i></a>
			</div>
			<div class="banner">
				<img src="img/self-report.png">
			</div>
			<div class="noticeDtail" id="detail">
					<!--<p class="detail-tit">根据录取通知书附带的新生入学交通指引到学校报到.
					<span>2016-06-25</span>
					</p>
				    <p class="detail-txt">
                                              时请持大学录取通知书且按照录取通知书报到时间到校报到，为保证报到工作顺利进行， 请勿提前或者延期报到，逾期一周不报到者，取消入学资格。
					持录取通知书可购买半价火车票。来校期间费用自理。 时请持大学录取通知书且按照录取通知书报到时间到校报到，为保证报到工作顺利进行， 请勿提前或者延期报到，
					逾期一周不报到者，取消入学资格。持录取通知书可购买半价火车票。来校期间费用自理 时请持大学录取通知书且按照录取通知书报到时间到校报到，为保证报到工作顺利进行，
					 请勿提前或者延期报到，逾期一周不报到者，取消入学资格。持录取通知书可购买半价火车票。来校期间费用自理。 时请持大学录取通知书且按照录取通知书报到时间到校报到，
					 为保证报到工作顺利进行， 请勿提前或者延期报到，逾期一周不报到者，取消入学资格。持录取通知书可购买半价火车票。来校期间费用自理。 
					 时请持大学录取通知书且按照录取通知书报到时间到校报到，为保证报到工作顺利进行， 请勿提前或者延期报到，逾期一周不报到者，取消入学资格。
					 持录取通知书可购买半价火车票。来校期间费用自理。
				    </p>-->
			</div>
			<script src="js/jquery-1.10.2.min.js"></script>
			<script type="text/javascript" src="js/basic.js"></script>
			<script type="text/javascript" src="js/rem.js"></script>
		</body>

</html>
<script>
    $(function(){
        var notice_id=$('#notice_id').val()
        $.getJSON('http://www.hefei.com/public/younoticedetail?callback=?',{notice_id:notice_id},
                function (e) {
                    if(e.code==200){
                        str='<p class="detail-tit">'+ e.notice.title+'<span>'+e.notice.time+'</span></p><p class="detail-txt">'+e.notice.content+'</p>'
                        $('#detail').html(str)
                    }

                });
    })
</script>