<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css"/>
  <title>自助报到</title>
	</head>
	<body class="bge">
		<div class="header">
			<span>自助报到</span>
			<a href="javascript:history.go(-1)" class="back"><i class="iconfont icon-left"></i></a>
		</div>
		<div class="report-process">
			<ul class="process-inner">
				<li class="clearfix line1">
                    <a href="?r=yindex/userinfo">
					<span class="pro-img"><img src="img/register-in.png"></span>
					<div class="pro-word"> 
						<h3>个人信息</h3>
						<p class="pro-tip">请填写真实的个人信息</p>
						<span class="goin"><i class="iconfont icon-right"></i></span>
					</div>
                    </a>
				</li>
				<li class="clearfix">
					<span class="pro-img"><img src="img/book-room.png"></span>
					<div class="pro-word nodo"> 
						<h3>宿舍预定</h3>
						<p class="pro-tip">请选择房间号和铺位</p>
						<span class="goin"><i class="iconfont icon-right"></i></span>
					</div>
				</li>
				<li class="clearfix">
					<span class="pro-img"><img src="img/arrive.png"></span>
					<div class="pro-word  nodo"> 
						<h3>抵校登记</h3>
						<p class="pro-tip">请选择接站站点</p>
						<span class="goin"><i class="iconfont icon-right"></i></span>
					</div>
				</li>
				<li class="clearfix pb0">
					<span class="pro-img"><img src="img/print.png"></span>
					<div class="pro-word nodo"> 
						<h3>打印报到单</h3>
						<p class="pro-tip">请确认基本信息并打印报到单</p>
						<span class="goin"><i class="iconfont icon-right"></i></span>
					</div>
				</li>
			</ul>
			<div class="pro-icon"><div>
		</div>
	 <script src="js/jquery-1.10.2.min.js"></script>
     <script type="text/javascript" src="js/rem.js"></script>	
	</body>
</html>
