page{
    height: 100%;
}
.box{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.cont-left{
    flex: 1;
    flex-direction: column;
    color: #666;
    font-size: 14px;
    .tab{
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin: 0 5px;
        border-bottom: 1px solid #ccc;
    }
}
.cont-right{
    flex: 3;
    display: flex;
    flex-direction: row;
    align-content:flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 75%;
    .right-xj{
        display: flex;
        flex-direction: row;
        align-content:flex-start;
        flex-wrap: wrap;
        border-left: 1px solid #ccc;
    }
    .goods{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        .goods-img{
            width: 110px;
            height: 110px;
            padding: 10px 0;
        }
        .goods-name{
            padding: 10px 0;
            font-size: 14px;
            color: #666;
        }
    }
    .right-bj{
        // display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .bj-titimg{
            padding: 5px;

        }
        @media screen and (max-width: 375px) and (min-width: 320px){
            .bj-titimg{height:100px;}
        }
        @media screen and (max-width: 400px) and (min-width: 375px){
            .bj-titimg{height:120px;}
        }
        @media screen and (min-width: 400px){
            .bj-titimg{height:130px;}
        }
    }
}
