@import '../app.css';
@import '../templates/button.css';

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.nick {
  color: #aaa;
}
