{
  "plugins": [
    "remove-comments",
  	"add-module-exports",
    "transform-strict-mode",
    "transform-es2015-modules-commonjs",
    "transform-es2015-spread",
    "transform-es2015-destructuring",
    "transform-es2015-parameters"
  ],
  "presets": [
    "es2015"
  ]
}