page {
  background: #f7f7f7;
}

.app-name {
  text-align: center;
  margin: 25px 0 0 0;
  padding: 0 40px;
  color: #aaa;
}

.app-desc {
  padding: 0 20px;
  margin-top: 60px;
  text-align: center;
  color: #aaa;
  display: block;
}

