@charset "utf-8";
body{
	font-size: 62.5%;
}
.activated{
	background: none;
}
/**************header start************/
.header{
	position: relative;
	background: #45c0f8;
	text-align: center;
	font-size: .62rem;
    padding: .42rem 0;
	color: #fff;
}
.header .user,
.header .back{
	display: inline-block;
	position: absolute;
	top: 0;
    height: 1.65rem;
    line-height: 1.6rem;
	color: #fff;
}
.contain{
	background: #eee;
}
.user{
		right: 5%;
}
.back{
		left: 5%;
}
 .user .icon-person,.back .icon-left{
 	font-size:0.55rem;
 	}
/**************header end************/

 /********************content***********/
.banner-img,.banner img{
	width: 100%;
}

/**************menu***************/
.menu{
	padding:0.25rem 0;
	background: #fff;
	margin-bottom: 2%;
}
.menu ul ,.footer-page{
	font-size:0;
}
.menu ul li{
	width: 25%;
	padding: 0.2rem 0;
	text-align: center;
	float: left;
}
.menu ul li>a{
	display: block;
}
.menu ul li img{
	width: 55%;
}
.menu ul li .menu-txt{
	font-size: 0.43rem;
	font-weight: 600;
	padding-top:0.36rem;
	color: #333;
}

/******news*****/
.brief,.news{
	background: #fff;
	margin-bottom: 3%;
}
.brief-tit,.news-tit,.basic-tit{
	position: relative;
	font-size: 0.55rem;
	font-weight: 100;
	padding-left: 4.68%;
	height:1.4rem;
	line-height: 1.4rem;
	background: url(../img/slidebar.png) -4px center no-repeat;
	border-bottom: 1px solid #ddd;
}
.brirf-content,.news-content{
	padding: 4%;
}
.news-content{
	border-bottom: 1px solid #ddd;
}
.brirf-content .bc-left,
.news-content .nc-left{
	width:35.3%;
	margin-right: 4.68%;
}
.bc-left>img,.nc-left>img{width: 100%;}
.brirf-content .bc-right, .nc-right .ncr-top{
	font-size: 0.42rem;
	line-height: 0.68rem;
	word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    overflow: hidden;  /** 隐藏超出的内容 **/
}
.brirf-content .bc-right{
		width: 60%;
	  -webkit-line-clamp: 4; /** 显示的行数 **/
}
.news{
	margin-bottom: 1.5rem;
}
.news-content .nc-right{
		width: 60%;
}
.nc-right .ncr-top{
	line-height: .75rem;
    -webkit-line-clamp: 2; /** 显示的行数 **/
}

.nc-time{
	 display: inline-block;
	  padding: 0.6rem 0;
      font-size: 0.405rem;
      color: #999;
}
.footer-page{
	padding: .2rem 0;
	border-top: 2px solid #00A7EE;
}
/**********footer*********/
.footer{
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
}
.footer .page-item{
	float: left;
	width: 25%;
	text-align: center;
	font-size:.405rem;
    color: #808080;
}
 .page-item p{
 	margin-top: .1rem;
 }
.page-item a{
	display: block;
}
.page-item i{
	font-size:.65rem;
	 color: #808080;
}
.page-item.active
{
	color:#45c0f8!important;
}
.page-item.active i,.page-item.active p{
	color:#45c0f8;
}
/*************login in**********/
.login-box,.dorm-book,.contact-box{
	background: #fff;
}
.dorm-book{
	position: relative;
}
.login-box li{
	padding: 2% 4%;
	border-bottom: 1px solid #ddd;
	font-size: 0;
}
.dorm-book li,.contact-box li{
	padding:4% 4%;
	border-bottom: 1px solid #ddd;
	font-size: 0;
	position: relative;
}
.login-name,.login-psw{
	display: inline-block;
	width: .81rem;
	height:.585rem;
	vertical-align: middle;
}
/*.login-name{
		background: url(../img/user.png) no-repeat;
}*/
/*.login-psw{
	background: url(../img/key.png) no-repeat;
}*/
.login-box input[type="text"],
.login-box input[type="password"]{
	width: 80%;
	height: 35px;
	vertical-align: middle;
	line-height: 35px;
	border: none;
	font-size: .495rem;
	padding-left: 3%;
	outline: none;
}
.confirm{
	padding: 0 4.5%;
}
.confirm>a{
    display: block;
    margin: 1.35rem 0 .32rem;
    border: 1px solid #00A7EE;
    border-radius: 3px;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    font-size: .55rem;
    background: #00A7EE;
    color: #fff;
}
.confirm>a:focus{
	background: #00A7EE;
	color: #fff;
}
.foget-psw{
	text-align: right;
	font-size: .42rem;
}
.foget-psw>a{
	color: #00A7EE;
}

 /*******咨询帮助*****************/
.ask-box{
	background: #fff;
	margin: 3% 0;
}
.ask-item{
	padding: 4% 4.5%;
	border-bottom: 1px solid #ddd;
}
.ask-item a,.sign-out>a{
	display: block;
    position: relative;
    line-height: .81rem;
}
/*.ask-item a>i,.sign-out>a>i{
	font-size: .48rem;
}*/
.ask-item .ask-word,.sign-out>a>span{
    margin-left: 3%;
    color: #333;
    font-size: .5rem;
}
.goin{
	position: absolute;
    top: 0;
    right: 0;
}
.goin .iconfont{
	font-size: .45rem;
	color: #DEDCDC;
}
/****个人中心******/
.sign-out{
	margin-top: 3%;
	margin-bottom: 2.295rem;
	background: #fff;
	padding: 3% 4.5%;
}
.write-info{
	width: 100%;
	height: 4rem;
	position: relative;
	background: url(../img/center-bg.jpg) 80% 0 no-repeat;
	background-size: cover;
}
.write-info img{
	width:1.4rem;
	height:1.4rem;
}
.write-info>span{
    display: block;
    text-align: center;
    padding-top: .8rem;
    padding-bottom: .4rem;
}
.write-info>p{
    font-size: .39rem;
    text-align: center;
    color: #444;
}
.write-info .goin{
	right: 4.5%;
	top: 15%;
    color: #fff;
}
.outlayer{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.cover{
	background: rgba(0,0,0,.3);
	width: 100%;
	height: 100%;
	z-index: 1;
}
.tip-box{
	position: absolute;
    top: 33%;
    left: 15%;
    right: 15%;
    display: inline-block;
    background: #fff;
    padding: .5rem .7rem;
    z-index: 2;
    border-radius: 6px;
}
.tip-box>h3{
	 margin-bottom: 15%;
    font-size: .675rem;
}
.tip-box a{
	font-size: .54rem;
}

/********自助报到*****/
.report-process{
	position: relative;
	margin: 4% 4.5%;
	/*background: url(../img/line.png) no-repeat;*/
	
}	
.process-inner >li{
	position: relative;
	padding-bottom: 1.5rem;
	padding-left: 50px;
}
.pro-word{
	position: relative;
	display: inline-block;
    width: 87.5%;
    height: 1.6rem;
    border-radius: 5px;
    padding: 2% 6%;
    background:#fff;
    background: url(../img/box.png) no-repeat;
    background-size: cover;
}
.pro-word>h3{
	font-size: .459rem;
	color: #30b8a2;
	font-weight: 100;
	margin-bottom: 3%;
}
.pro-word>.goin{
	 top: 18%;
    right: 5%;
}
.pro-tip{
	font-size: .31rem;
	color: #4c4c4c;
}
.nodo>*{
	color: #888!important;
}
.pro-img{
	position: absolute;
    top: 5px;
    left: -4px;
    width: 40px;
    z-index: 2;
}
.pro-img>img{
	width: 100%;
}
.pro-icon{
	position: absolute;
    top: 10px;
    left: 16px;
    width: 2px;
    height: 90%;
    background: url(../img/line.png) repeat-y;
    z-index: 1;
}
/*************宿舍预定***********/
.step ul li{
	font-size: .55rem;
}
.book-tit{
	display: inline-block;
    width: 20%;
    text-align: right;
    font-size: .46rem;
    color: #333;
    vertical-align: middle;
    padding-right: 3%;
    border-right: 2px solid #eee;
}

.dorm-book input[type="text"],
.contact-box input[type="text"]{
	width: 74%;
    height: .8rem;
    vertical-align: middle;
    line-height: .8rem;
    border: none;
    font-size: .44rem;
    padding-left: 2%;
    outline: none;
}

.dorm-book .goin,.contact-box .goin{
	top:35%;
	right:4%;
}
.step-btn{
	margin:1.5rem 4%;
}
.step-btn>a,.reportcard>a{
	 padding: 3% 16%;
    font-size: .48rem;
    background: #00A7EE;
    border-radius: 4px;
    margin-right: 2%;
    color: #fff;
}
.step{
	position: relative;
	z-index: 2;
}
.step ul{
	position: relative;
    z-index: 2;
}	
.step ul li{
	display: inline-block;
    width: 25%;
    padding: 0.38rem 0;
    text-align: center;
    font-size: .43rem;
    color: #A9A9A9;
}
.step-icon{
	width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    line-height: 1.25rem;
    border-radius: 50%;
    background: #d3d3d3;
    color: #fff;
    margin-bottom: .2rem;
}
.step-icon.passbg{
	 background: #25dba8;
}
.step-txt{
	color: #25dba8;
}
.pro-line{
	position: absolute;
    z-index: 1;
    top: 20%;
    left: 15%;
    width: 72%;
}
.pro-line>img{
	width:100%;
}
.contact-box {
	margin-top: 3%;
}
.contact-box .book-tit{
	width:36%;
}
.contact-box input[type="text"]{
	width: 57%;
}
.checkshow>p{
	border-bottom: 1px solid #eee;
    padding-left: .48rem;
    margin-right: 4%;
    background: url(../img/nocheck.png) no-repeat center right;
}
.checked{
	background: url(../img/check.png) no-repeat center right!important;
}
/*.noChecked{
	background: url(../img/nocheck.png) no-repeat center right;
}*/
.checkshow{
	display: none;
	font-size: .42rem;
    line-height: 1.3rem;
    margin-top: .35rem;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 23;
    width: 100%;
    box-shadow: rgb(221, 221, 221) 2px 0px 6px;
    background: rgb(255, 255, 255);
}
.upload-head>span,.heade-img{
	display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    position: relative;
}
.upload-head>span>img,.heade-img>img{
	width: 100%;
}
.upload-head>span>input{
	    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    filter:alpha(opacity=0);
}
.upload-head>p{
	font-size: .35rem;
    color: #666;
    margin-top: .2rem;
}
.sex{
    position: absolute;
    right: 10%;
    top: 30%;
    font-size: .4rem;
}
.sex label{
	width: 1.4rem;
    display: inline-block;
    text-align: center;
    background: url(../img/sex-nocheck.png) no-repeat left 2px;
    background-size: 30%;
    line-height: .6rem;
	margin-left: .2rem;
}
.sex-check{
	background: url(../img/sex-check.png) no-repeat left 2px!important;
   background-size: 30%!important;
}
/***********报到单******/
.info-top{
	padding: .65rem 4%;
    line-height: 1.4rem;
}
.info-top>span{
	display: inline-block;
	float: left;
}
.stu-name{
	font-size: .45rem;
    margin-left: .35rem;
}
.code{
	width: 3rem;
    margin-left: 2.8rem;
}
.basic-tit{
    font-size: .45rem!important;
	height:1.1rem;
	line-height: 1.1rem;
	background: url(../img/slidebar.png) -4px center no-repeat;
}
.info-middle{
	display: inline-block;
	font-size: .46rem;
	width:75%;
	text-align: right;
	vertical-align: middle;
}
.cost>span{
	display: inline-block;
	width: 33.333%;
	word-break: break-word;
	float: left;
	font-size: .46rem;
	text-align: center;
}
.cost.first{
	background: #f5f5f5;
}

.print{
	border: 2px solid #45c0f8;
	color: #45c0f8!important;
	background: none!important;
	margin-bottom: .5rem;
}
.reportcard{
	background: #fff;
	padding: 1.5rem 4%;
}
/********绿色通道*******/
.state-box{
	font-size: .45rem!important;
    text-align: right;
    font-weight: 600;
    line-height: 1rem;
    color: #333;
}
.state-img{
	display: inline-block;
    width: .7rem;
    height: .7rem;
    line-height: .7rem;
}
.state-img>img{
	width: 100%;
	height: 100%;
}
.state{
	font-size: .45rem;
    font-weight: 100;
}
.cover-bg{
    background-color:#4A4A4A;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 22;
    display: none;
}
.close{
	display: block;
	padding: .1rem;
	text-align: center;
	background: #00A7EE;
	color: #fff;
}
.hd {
	font-size: 0;
    background: #fff;
    height: 1.4rem;
    border-bottom: 1px solid #ddd;
    line-height: 1.4rem;
}
.greenway .hd li,.delayReport .hd li{
	display: inline-block;
	float: left;
	font-size: .45rem!important;
	text-align: center;
	margin: 0 2%;
}
.greenway .hd li{
	width: 21%;
}
.greenway .hd li.active,.delayReport .hd li.active{
	border-bottom: 2px solid  #45C0F8;
	color: #45C0F8;
}
.greenway .bd>div,.delayReport .bd>div{
	display: none;
}
.book-tit.house{
	width: 22%!important;
}
.house-input{
	width:72%!important;
}
.reason{
	padding: 4%;
    background: #fff;
    margin-bottom: -9%;
}
.reason>textarea{
	width: 100%;
	height: 4rem;
	padding: 2%;
}
.prove{
	padding: 4% 3%;
    background: #fff;
    margin-bottom: -5%;
}
.prove>p{
	width:40%;
	position: relative;
    display: inline-block;
    float: left;
    margin: 0 5%;
   
}
.prove>p>span{
	display: inline-block;
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    border: 1px solid #ddd;
}
.prove>p>input{
	position: absolute;
    width: 100%;
    height: 6rem;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(number=0);
}
/**********t推迟报到***********/
.book-tit.delay{
	width:29%!important;
}
.delayinput{
	width:65%!important;
}
.delayReport .hd li{
	width:46%;
}
/*********入学须知***********/
.konw-box,.route-box{
	padding: 3%;
}
.know-content,.notice-content,.noticeDtail,.data-content,.answer-content{
    background: #fff;
    font-size: .45rem;
    line-height: 24px;
    color: #033333;
    font-family: 宋体;
}
.know-content{
	 padding: 3% 4%;
}
/***********通知公告**************/
.notice-box{
	padding:2% 4%;
}
.notice-content>a,.data-content>a,.answer-content>a{
	position: relative;
	display: block;
	border-bottom: 1px solid #ddd;
}
.notice-list h3{font-size: .48rem;}
.notice-list,.answer-list{
	width:84%;
	padding: 2% 4%;
	color: #333;
}

.notice-list .list-tit.answer-list .list-tit{
	margin-bottom: .2rem;
	font-size: .5rem;
}
.answer-list .list-tit{
	margin-bottom: .2rem;
	font-size: .48rem;
}
.answer-list .list-txt{
	line-height: .75rem;
}
.notice-list .list-txt{
	/*height: 1.4rem;*/
	line-height: .75rem;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /** 显示的行数 **/
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    overflow: hidden;  /** 隐藏超出的内容 **/
}
.notice-content .goin,.data-content .goin{
	top:36%;
	right:4%;
}
.noticeDtail{
	padding: 3% 5%;
}
.detail-tit{
	font-weight: 600;
    padding: 3%;
    font-size: .5rem;
    font-family: 微软雅黑;
    color: #333;
}
.detail-tit>span{
    font-weight: 100;
    color: #666;
    text-align: right;
    display: block;
    font-size: .38rem;
}
/********************到校路线******************/
.content-top ul,.content-bottom ul{
	background: #fff;
	padding: 5% 3%;
}
.route-box .content-top li,.route-box .content-bottom li{
	font-size: 0;
    line-height: 30px;
    margin-bottom: 2%;
}
.route-icon{
	 display: inline-block;
	 margin-right:3%;
    vertical-align: top;
}
.route-word{
    display: inline-block;
	width: 82%;
    font-size: .45rem;
    line-height: 22px;
    vertical-align: middle;
}
.route-icon .iconfont{
	color: #0fb1f9;
}
.map{
	display: inline-block;
    width: 100%;
    height: 4.8rem;
    margin-top: 4%;
}
.map>img{
	width: 100%;
}
.content-bottom{
	margin-top: 5%;
}

.content-bottom .route-icon{
	margin-right: 3%;
	font-size: .45rem;
}
.content-bottom .route-word{
	width:76%;
	line-height: 26px;
}
/**********咨询解答***********/
.answer-box{
	padding: 2% 4%;
}
.answer-content{
	background: #eee!important;
}
.answer-content>a{
	background: #fff;
	margin-bottom: 3%;
}
.myanswer .route-icon .iconfont{
	font-size: .65rem;
}
.myanswer-box{
	padding-top: 3%;
}
.myanswer a{
	display: block;
}
.myanswer li{
	position: relative;
	padding: 3%;
	line-height: 30px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.myanswer .route-word{
	width:64%;
}
.myanswer .goin{
    top: 20%;
    right: 5%;
    font-size: .24rem;
}
/*************地址***********/
.list-group-item{
	position:relative ;
	padding-bottom: 15px;
}
.label-radio{
	display: block;
	width: 100%;
    padding: 0 .4rem;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    font-weight: 100;
    margin-bottom: 0;
}
label.label-radio input[type=checkbox], label.label-radio input[type=radio]{
 	display: none;
 }
 .item-inner{
 	width: 100%;
    min-height: 1.4rem;
    font-size: .48rem;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    overflow: hidden;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-item-align: stretch;
    -webkit-align-self: stretch;
    align-self: stretch;
 }
 .letter{
 	position: absolute;
    top: 0;
    right: 0;
    font-size: .48rem;
    color: #666;
 }
 .letter>li{
  	  padding: .04rem 0;
  }
/***************各种图标颜色*******************/
.icon-bus{
	color:#10aeff ;
}
.icon-green{
	color: #ffc000;
}
.icon-delay{
	color: #4cd127;
}
.icon-route{
	color: #63acff;
}
.icon-login{
	color: #ff9e63;
}
.icon-question{
	color: #30b8a2;
}
.icon-ask1{
	color: #a2d698;
}
.icon-ask{
	color: #94ace9;
}
.icon-answer{
	color:#feb73b;
}
.icon-data{
	color:#63acff;
}
.icon-changpsw{
	color: #b9e12a;
}
.icon-logout{
	color: #f75555;
}
.icon-user,.icon-psw{
	color: #45c0f8;
}
