.section {
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    text {
      width: 100px;
      text-align: right;
    }
    input {
      flex: 1;
      border: solid 1px #ccc;
      border-radius: 3px;
      padding: 0 2px;
    }
  }
}
.ctrl {
  box-sizing: border-box;
  padding: 10px;
}
modal{
    color:red;
}
